---
import Layout from "../layouts/Layout.astro";
import { SITE_DESCRIPTION } from "../consts";

import { getCollection } from "astro:content";
import FormattedDate from "../components/FormattedDate.astro";
import { generateURL } from "../utils";

const posts = (await getCollection("blog", post => !post.data.hide)).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---

<Layout>
  <div class="prose">
    <p>
      {SITE_DESCRIPTION}
    </p>
    <p>
Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil minima porro consequatur. Quasi inventore tempora doloribus odio. Voluptate perspiciatis a eius quidem illo deserunt laborum, saepe, qui amet commodi quas?
    </p>
  </div>
  <h2>Posts</h2>
  <ul class="blog-posts">
    {
      posts.length > 0 ? (
        posts.slice(-5).map(post => (
          <li>
            <span>
              <i>
                <FormattedDate date={post.data.pubDate} />
              </i>
            </span>
            <a
              href={generateURL(`/blog/${post.id}/`)}
              transition:name={`post-title-${post.id}`}
            >
              {post.data.title}
            </a>
          </li>
        ))
      ) : (
        <div>...</div>
      )
    }
  </ul>
</Layout>
